<div ng-show="loading" class="spinner"></div>

<input ng-model="filter" value="[[filter]]" type="hidden" />
  <div class="btn-group pull-right" style="position: relative; bottom: 30px;" ng-click="showNewPost=!showNewPost">
			    <button class="btn btn-mini btn-inverse"><i class="icon-reply" ng-init="showNewPost=false"></i></button>
		      </div>
			
		    <div class="newpost" ng-show="showNewPost">
			  <!--<i class="icon-remove-sign" ng-click="showNewPost=false"></i>//-->
			  <form name="newPost" id="newPost" ng-submit="submit('newPost',0)">
				<div class="textareadiv" contenteditable name="text" id="text" ng-model="newpost.text" required></div>
			    <textarea class="span12 newposttxt" ng-minlength="10" name="text" ng-model="newpost.text" required></textarea><br />
				<a class="info" title="At least 10 characters text." ui-jq="tooltip" ng-show="newPost.$invalid"><i class="icon-exclamation-sign" style="text-decoration: none;"></i></a>
			    <button class="btn btn-inverse btn-mini btn-send" type="submit" ng-disabled="newPost.$invalid"><i class="icon-ok"></i>&nbsp;&nbsp;Send</button>
			  </form>
		    </div>
			
			
<div class="post" ng-repeat="post in feed | filter:filter | orderBy: order:true" ng-mouseenter="showTools=true" ng-mouseleave="showTools=false">
<div class="row-fluid content">
				<div class="span1">
				  <div class="vote">
					<div class="number"><i class="icon-chevron-up" ng-click="vote('up',post.id)"></i><br />[[post.votes]]<br /><i class="icon-chevron-down" ng-click="vote('down',post.id)"></i></div>
				  </div>
				</div>
				<div class="span11">	
				
				  <div class="row-fluid" style="margin-top: 4px;">
					
					<div class="span1" style="width: 3%;">
					  <div class="avatar" style="background-image: url('[[post.user.gravatar_url]]');" ng-click="showPostUserDetails=!showPostUserDetails" init="showPostUserDetails=false"></div>
					</div>
					
					<div class="span11" style="width: 94%; margin-top: -2px;">
					  <div class="tools pull-right" ng-show="showTools">
						<ng-switch on="post.user.id">
						  <i ng-switch-when="{{request.user.id}}" class="icon-pencil"></i>
						</ng-switch>
						<i class="icon-star"></i>
						<i class="icon-reply" ng-click="showNewReply=!showNewReply" init="showNewReply=false"></i>
					  </div>
					  <span class="username">[[post.user.nickname]]</span> <span class="datetime">(<span class="time"><abbr class="timeago" title="[[post.pubdate]]" reldate="post">[[post.pubdate]]</abbr></span>)</span><div class="text" ng-bind-html="post.text | textfilter"></div>
					</div>
					
				  </div>
							
				  <div class="row-fluid" ng-show="showPostUserDetails">
					  <div class="span12 post-user-details">
					    <button class="btn btn-mini btn-inverse colleague-button" type="button"><i class="icon-group"></i> become a colleague</button>
						<i class="icon-remove-sign" ng-click="showPostUserDetails=false"></i>
					    <div class="title">Nickname</div>[[post.user.nickname]]<br />
						<div class="title">Statement</div>[[post.user.statement]]<br />
						<div class="title">Contact</div>[[post.user.email]]<br />
					  </div>
					</div>
				  
				</div>
				<div class="bottom">
				  <div class="row-fluid" style="margin-bottom: -10px;">
				    <div class="span1">
					</div>
					<div class="span11">
					  <div ng-switch="post.replies.length" class="commentstxt">
					    <toggle-posts><i class="icon-minus-sign" ng-click="showReplies=!showReplies"></i></toggle-posts>
					    <span ng-switch-when="0"><hide-plus-minus>no comments yet</hide-plus-minus></span>
						<span ng-switch-when="1">[[post.replies.length]] comment</span>
					    <span ng-switch-default>[[post.replies.length]] comments</span>
					  </div>
					  <div class="tags pull-right">
			            <div class="btn-group" style="margin-bottom: 5px;">
				          <button class="btn btn-mini btn-tag" ng-repeat="tag in post.tags" onClick="location.href='/{{course_short_title}}/feed/#/[[ordertmp]]/filter/[[tag.tag.name]]/'">#[[tag.tag.name]]</button>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				
				<div class="row-fluid newreply" ng-show="showNewReply">
				  <div class="span1"></div>
				  <div class="span11">
			        <!--<i class="icon-remove-sign" ng-click="showNewReply=false"></i>//-->
					<form name="newReply" id="newReply" ng-submit="submit('newReply',[[post.id]])">
					  <div class="textareadiv reply" contenteditable name="text" ng-model="newpost.replytext" required></div>
			          <textarea class="span12 newreplytxt" ng-minlength="10" name="text" ng-model="newpost.replytext" required></textarea>
				      <a class="info" title="At least 10 characters text." ui-jq="tooltip" ng-show="newReply.$invalid"><i class="icon-exclamation-sign" style="text-decoration: none;"></i></a>
			          <button class="btn btn-inverse btn-mini btn-send" type="submit" ng-disabled="newReply.$invalid"><i class="icon-ok"></i>&nbsp;&nbsp;Send</button>
			        </form>
				  </div>
				</div>
				
				<div class="replies" ng-show="showReplies" ng-init="showReplies=true">
				<div class="row-fluid reply" ng-repeat="reply in post.replies" ng-mouseenter="showToolsReply=true" ng-mouseleave="showToolsReply=false">
				  <!--<ng-switch on="reply.hide">
				    <div ng-switch-when="0">//-->
					<div>
						<div class="span1">
							<div class="vote" style="margin-right: 5px; margin-top: 17px;">
							  <div class="number"><i class="icon-chevron-up" ng-click="vote('up',reply.id)"></i><br />[[reply.votes]]<br /><i class="icon-chevron-down" ng-click="vote('down',post.id)"></i></div>
							</div>
						</div>
						<div class="span11 post reply">
							<!--<ng-switch on="reply.goodpost">
							  <div ng-switch-when="1" style="font-size: 18px; position: absolute; left: -10px; top: -10px;"><i class="icon-pushpin"></i></div>
							</ng-switch>//-->
							<div class="row-fluid">
							  <div class="span1" style="width: 6%;">
								<div class="avatar" style="background-image: url('[[reply.user.gravatar_url]]');" ng-click="showReplyUserDetails=!showReplyUserDetails" ng-init="showReplyUserDetails=false"></div>
							  </div>
							  <div class="span11" style="width: 94%; margin-left: 0px; margin-top: -2px;">
								<div class="reply-tools pull-right">
								  <span style="cursor: pointer; font-size: 14px;" ng-show="showToolsReply">
								  <ng-switch on="reply.user.id">
									<i ng-switch-when="{{request.user.id}}" class="icon-pencil" ng-click="editPost!=editPost"></i>
								  </ng-switch>
								  </span>
								</div>
								<span class="username">[[reply.user.nickname]]</span> <span class="datetime">(<span class="time"><abbr class="timeago" title="[[reply.pubdate]]" reldate="reply">[[reply.pubdate]]</abbr></span>)</span><div class="text" ng-init="editPost=false" editpost ng-bind-html="reply.text | textfilter"></div>
							  </div>
							</div>
							<ng-switch on="reply.goodpost">
							  <div ng-switch-when="1" class="goodposttext"><i class="icon-ok"></i><i class="icon-certificate"></i> This post has been marked as a good answer by the LVA-team.</div>
							  <div ng-switch-when="2" class="goodposttext"><i class="icon-certificate"></i><i class="icon-question-sign"></i><i class="icon-circle"></i> This post has been marked as a good question by the LVA-team.</div>
							</ng-switch>
							
							<div class="row-fluid" ng-show="showReplyUserDetails">
							  <div class="span12 post-user-details" style="border-bottom: 0; margin-bottom: 0px;">
								<button class="btn btn-mini btn-inverse colleague-button" type="button"><i class="icon-group"></i> become a colleague</button>
								<i class="icon-remove-sign" ng-click="showReplyUserDetails=false"></i>
								<div class="title">Nickname</div>[[reply.user.nickname]]<br />
								<div class="title">Statement</div>[[reply.user.statement]]<br />
								<div class="title">Contact</div>[[reply.user.email]]<br />
							  </div>
							</div>
						  
						</div>
					</div>
					<!--<div ng-switch-when="1">
						<div class="span1">
						</div>
						<div class="span11 more-replies" ui-jq="tooltip" title="load all replies"><hr /></div>
					</div>
				  </ng-switch>//-->
				</div>
				</div>
				</div>